* {
    font-family: Darker Grotesque;
}

/* ------------------------------------------------------------------------
HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#85CDF5;
    padding: 11px;
}

.header_text{
    font-size: 2em;
    font-weight:bolder;
    font-family: Darker Grotesque;

}
.nossos_lobinhos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

.nossos_lobinhos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.quem_somos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    width: 193.68px;
    text-decoration: none;
}

.quem_somos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* FIM HEADER */
/*-----------------------------------------------------------------*/

/*MAIN */

section {
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    padding-bottom: 2.5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.QuemSomos {
    text-align: center;
    font-size: 3em;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

#DescricaoQuemSomos {
    padding-left: 4em;
    padding-right: 4em;
    font-size: 3em;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 1.2;
}

/* FIM DA MAIN */

/* ------------------------------------------------------------------------ */

/*FOOTER */

footer {
    background-color: #353535;
    padding: 1em ;
    padding-top: 3em;
    padding-bottom: 3em;
}

.box_footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.info_footer {
    color: white;
    font-family: Darker Grotesque;
}

#iframe_contato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#iframe {
    width: 15em;
    height: 10em;
}

#desen_paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

#button_quem {
    background-color: #DEB959;
    font-size: 1.5em;
    color: #333333;
    font-weight:bolder;
    cursor: pointer;
    text-align: center;
    font-family: Darker Grotesque;
}

.button {
    text-decoration: none;
    color: black;
}

#placeholder {
    height: 20px;
    display: flex;
    align-self: center;
}

.icon_and_info {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    align-items: left;
}
