/* global */
* {
    font-family: Darker Grotesque;
}


/* ----------------------------------------------------------------------------------------*/
/*HEADER*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#85CDF5;
    padding: 11px;
}

.header_text{
    font-size: 2em;
    font-weight:bolder;
    font-family: Darker Grotesque;

}
.nossos_lobinhos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

.nossos_lobinhos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.quem_somos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    width: 193.68px;
    text-decoration: none;
}

.quem_somos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
/* fim header
-----------------------------------------------------------------------------------*/

/* main */ 

main {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

#itens{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
    height: 2.5rem;
}

#pesquisa{
    width: 30rem;
}

#maislobo{
    font-size: 1.5rem;
    color: rgb(0, 255, 4);
    background-color:#DEB959;
    text-decoration: none;
    transition: 0.3s;
    border: none;
}

#maislobo2 {
    color: #FFF;
    text-align:center;
    font-family: Darker Grotesque;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

#searchFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter{
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #353535;
    margin: auto;
}


.lobinhos_adotados {
    height: 33px;
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;
}

.checkbox {
    width: 20px;
    height: 20px;

    border-radius: 5px;
    border: 1px solid #333;
}

.lobinhos_adotados p {
    font-weight: bolder;
    font-size: 1em;
    color: black;
     
}

@media screen and (max-width: 612px) {
    #pesquisa{
        min-width: 10rem;
        width: auto;
    }
}

main {
    padding-bottom: 5em;
}

main h1 {
    color: #000;
    font-family: Darker Grotesque;
    font-size: 2em;
    font-weight: bolder;
    line-height: normal;
}

main h2 {
    color: #000;
    font-family: Darker Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

main p {
    color: #000;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: 83.333%;
}


/* Cards Lobos */


.card_lobos {
    display: flex;
    flex-direction: row;
    gap: 2.6em;
    
}

.lobos {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-left: 15em;
    padding-right: 15em;

}
  
.card_lobos {
    flex-direction: row;
    .imagem-lobo {
        box-shadow: -31px -31px #2C5680, -32px -32px black, -32px -30px black, -30px -32px black;
    }
}
  
.card_lobos:nth-child(even) {
    flex-direction: row-reverse;
    .imagem-lobo {
        box-shadow: 31px -31px #2C5680, 32px -32px black, 32px -30px black, 30px -32px black;
    }
}

.nome_idade {
    display: flex;
    flex-direction: column;
    gap: 0.7em;

}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.infos_lobinho {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#adotar {
    text-decoration: none;
    color: white;
}

.botao_adotar {
    display: flex;
    background-color: #DEB959;
    border: none;
    height: 3em;
    width: 11em;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.text_botao  {
    color: #FFF;
    text-align:center;
    font-family: Darker Grotesque;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ----------------------------------------------------------------------------------*/
/*PARTE DO FOOTER */
footer {
    background-color: #353535;
    padding: 1em ;
    padding-top: 3em;
    padding-bottom: 3em;
}


/* display maior footer */
.box_footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

/* formatação letra footer */
.info_footer {
    color: white;
    font-family: Darker Grotesque;
}

/* display esquerda footer (mapa e contato) */
#iframe_contato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

/* tamanho mapa */
#iframe {
    width: 15em;
    height: 10em;
}

/* display direita footer ("desenvolvido com" e foto) */
#desen_paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

/* Formatação botão footer */
#button_quem {
    background-color: #DEB959;
    font-size: 1.5em;
    color: #333333;
    font-weight:bolder;
    cursor: pointer;
    text-align: center;
    font-family: Darker Grotesque;
}

.button {
    text-decoration: none;
    color: black;
}

/* Desenho ao lado do endereço */
#placeholder {
    height: 20px;
    display: flex;
    align-self: center;
}

/* Espaçamento entre os icones e a info */
.icon_and_info {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    align-items: left;
}