/* GLOBAL */
*{
    box-sizing: border-box;
    font-family: Darker Grotesque;
}

/* --------------------------------------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-left: 15em;
    padding-right: 15em;
    gap: 4em;
}

/* Formatação do header*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#85CDF5;
    padding: 11px;
}

.header_text{
    font-size: 2em;
    font-weight:bolder;
    font-family: Darker Grotesque;

}
.nossos_lobinhos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

.nossos_lobinhos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.quem_somos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    width: 193.68px;
    text-decoration: none;
}

.quem_somos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* --------------------------------------------------------------------------------------------------
ADOTE UM LOBINHO   */

.adote_lobinho{
    text-align: center;
    padding: 9em;
    padding-left: 25em;
    padding-right: 25em;
}

.adote_titulo {
    font-size: 6em;
    color: white;
    font-weight:bolder;
}

.adote_descricao {
    color: white;
    margin-top: 2em;
    font-family: Darker Grotesque;
    padding-left: 3em;
    padding-right: 3em;
    line-height: 1.2;
    font-size: 1.5em;
}


/*AJEITAR, NAO ESTA INDO */
#fundo_lobinho {
    background-image: url("..//imagens/lobo-home.png");
    align-items: center;
    background-size: cover;
}


/* --------------------------------------------------------------------------------------------------------
SOBRE*/

.sobre_lobo {
    text-align: center;
    padding: 4em;
    padding-right: 18em;
    padding-left: 18em;
    background-color: #2C5680;
}

.sobre_lobo_h1 {
    color: #DEB959;
    font-weight: 700;
    font-size: 3em;
    line-height: 65.09px;
    padding-bottom: .6em;
}

#sobre_lobo_p {
    color: white;
    line-height: 1.6;
    font-family: Darker Grotesque;
    font-size: 1.2em;
}


/* --------------------------------------------------------------------------------------------------------------
VALORES */


.sobre_lobo_h1 {
    text-align: center;
}


#valores{
    justify-content: space-between;
    padding-top: 1.5em;
    background: #333333;
    width: 100vw;
    height: fit-content;
    padding-bottom: 5em;
}

.valores_totais {
    width: 70%;
    height: fit-content;
    margin: auto;
}

.valor_individual {
    width: fit-content;
}

.image {
    border-radius: 100%;
    background-color: white;
    padding: 35px;
    width: 200px;
    height: 200px;
    justify-content: center;
}

#valor {
    height: 120px;
    width: 120px;
    align-items: center;
}

.valor_h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 2em;
    color:white;
    text-align: center;
}

.valor_p {
    max-width: 12em;
    font-weight: lighter;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    text-align: center;
    
}

.secao_valores {
    display: flex;
    flex-direction: row;
}

.valores_totais {
    display: flex;
    justify-content: space-between;
}

/* ------------------------------------------------------------------------------------
LOBOS EXEMPLOS GERAL */
/* Alteração do Ray */

#container {
    width: 100%;
    display: flex;
    gap: 5em;
}

.description_box {
    width: 100%;
    display: flex;
    gap: 7em;
    flex-direction: column;
}

#lobo1, #lobo2 {
    gap: 3em;
    display: flex;
}

#lobo2 {
    gap: 3em;
    display: flex;
    flex-direction: row-reverse;
}


.description {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-size: 1.3em;
    font-weight: 500;

}

.nome_idade {
    gap: 0.6em;
    display: flex;
    flex-direction: column;
}

.nome {
    font-size: 2em;
    font-weight: 600;
}

#lobos_exemplo {
    font-size: 2em;
    font-weight: bolder;
    color: #DEB959;
}
.lobo_showlobinho1 {
    box-shadow: -31px -31px #2C5680, -32px -32px black, -32px -30px black, -30px -32px black;

}

.lobo_showlobinho2 {
    box-shadow: 31px -31px #2C5680, 32px -32px black, 32px -30px black, 30px -32px black;

}

.box_lobo_buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}






/* Formatação do footer */

footer {
    background-color: #353535;
    padding: 1em ;
    padding-top: 3em;
    padding-bottom: 3em;
}

.box_footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.info_footer {
    color: white;
    font-family: Darker Grotesque;
}

#iframe_contato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#iframe {
    width: 15em;
    height: 10em;
}

#desen_paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

#button_quem {
    background-color: #DEB959;
    font-size: 1.5em;
    color: #333333;
    font-weight:bolder;
    cursor: pointer;
    text-align: center;
    font-family: Darker Grotesque;
}

.button {
    text-decoration: none;
    color: black;
}

#placeholder {
    height: 20px;
    display: flex;
    align-self: center;
}

.icon_and_info {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    align-items: left;
}

