/*GLOBAL */
* {
    font-family: Darker Grotesque;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3em;
    gap: 4em;
}

/*--------------------------------------------------------------

HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#85CDF5;
    padding: 11px;
}

.header_text{
    font-size: 2em;
    font-weight:bolder;
    font-family: Darker Grotesque;

}
.nossos_lobinhos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

.nossos_lobinhos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.quem_somos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    width: 193.68px;
    text-decoration: none;
}

.quem_somos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*FIM HEADER
----------------------------------- */

/*MAIN*/


.adote {
    font-size: 60px;
    font-weight: bolder;
}

.id {
    font-weight: 600;
}

.box_adote_id {
    display: flex;
    gap: 1em;
    height: 30%;
    justify-content: center;
}

/*BORDA DA IMAGEM DO LOBO */
.imagem_lobo {
    border-radius: 50%;
}

/* cONFIGURAÇÕES DA NOME E IDADE */
#nome_idade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25%;
    margin-top: 3em;
    font-size: 30px;
    font-weight: bold;
    gap: 1em;
}

/*CONFIGURAÇÕES DO EMAIL */
#email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 25%;
    margin-top: 3em;
    font-size: 30px;
    font-weight: bold;

}


#seunome_input {
    width: 36rem;
    height: 2rem;
    font-size: 1em;
}

#suaidade_input {
    font-size: 1em;
    height: 32px;
}

#seuemail_input {
    width: 36rem;
    height: 2rem;
    font-size: 1em;
}

/* CONFIGURAÇÃO DAS INFORMAÇÕES */
.info {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
}


main button{
    width: 5em;
    height: 1.5em;
    border: 1px solid #333333;
    background: linear-gradient(0deg, #2C5680, #2C5680);
    margin: 5% auto;
    font-family: Darker Grotesque;
    font-size: 2em;
    font-weight: bolder;
    color: #FFFFFF;
    cursor: pointer;

}

#botao_adotar {
    display: flex;
    justify-content: center;

}

/*fim da main */
/* ----------------------------------------------- */

/*FOOTER*/

footer {
    background-color: #353535;
    padding: 1em ;
    padding-top: 3em;
    padding-bottom: 3em;
}

.box_footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
    
}

.info_footer {
    color: white;
    font-family: Darker Grotesque;
}

#iframe_contato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#iframe {
    width: 15em;
    height: 10em;
}

#desen_paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

#button_quem {
    background-color: #DEB959;
    font-size: 20px;
    color: #333333;
    font-weight:bolder;
    cursor: pointer;
}

.button {
    text-decoration: none;
    color: black;
}

#placeholder {
    height: 20px;
    display:flex;
    align-self:center;
}

.icon_and_info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
}