/* GLOBAL */
* {
    font-family: Darker Grotesque;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-left: 10em;
    padding-right: 10em;
    gap: 4em;

}

/*------------------------------------------------------------------------
HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#85CDF5;
    padding: 11px;
}

.header_text{
    font-size: 2em;
    font-weight:bolder;
    font-family: Darker Grotesque;

}
.nossos_lobinhos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

.nossos_lobinhos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.quem_somos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    width: 193.68px;
    text-decoration: none;
}

.quem_somos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*FIM DO HEADER
-------------------------------------------------------------------------------------------- */
/* MAIN */

.section1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
}

#container {
    display: flex;
    gap: 5em;
}

#description_box {
    width: 30em;
    font-weight: bolder;
}

.description {
    font-size: 1.3em;
    font-weight: 500;

}

#nome_do_lobo {
    font-size: 2em;
    font-weight: bolder;
}

.lobo_showlobinho {
    box-shadow: -31px -31px #2C5680, -32px -32px black, -32px -30px black, -30px -32px black;
    
}

.box_lobo_buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.box_buttons {
    display: flex;
    justify-content: space-between;
}

#button_adotar, #button_excluir {
    width: 45%;
    height: 150%;
    font-size: 1.3em;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #7AAC3A;
    border: none;
}

#button_excluir {
    background-color: #DE5959;
}

/* FIM DA MAIN */
/* -------------------------------------------------------------------------- */

/* FOOTER */

footer {
    background-color: #353535;
    padding: 1em ;
    padding-top: 3em;
    padding-bottom: 3em;
}

.box_footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
    
}

.info_footer {
    color: white;
    font-family: Darker Grotesque;
}

#iframe_contato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#iframe {
    width: 15em;
    height: 10em;
}

#desen_paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

#button_quem {
    background-color: #DEB959;
    font-size: 20px;
    color: #333333;
    font-weight:bolder;
    cursor: pointer;
}

.button {
    text-decoration: none;
    color: black;
}


#placeholder {
    height: 20px;
    display:flex;
    align-self:center;
}

.icon_and_info {
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
}