
/* GLOBAL */
* {
    font-family: Darker Grotesque;
}

main{
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#85CDF5;
    padding: 11px;
}

/* ---------------------------------------------------------
HEADER */

/*TEXTOS DO HEADER */
.header_text{
    font-size: 2em;
    font-weight:bolder;
    font-family: Darker Grotesque;
}

/*LINK */
.nossos_lobinhos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;
}

/* QUANDO PASSA O MOUSE EM NOSSOS LOBINHOS */
.nossos_lobinhos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*LINK*/
.quem_somos {
    display: flex;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    transition: 1s;
    width: 193.68px;
    text-decoration: none;
}

/*QUANDO PASSA O MOUSE EM QUEM SOMOS  */
.quem_somos:hover {
    display: flex;
    align-self: flex-end;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* fim header */
/*------------------------------------------------------------------------------------------------------ */



/* gerando contorno do main */
.box{
    width: 958px;
    height: 874px;
    top: 180px;
    left: 221px;   
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    padding: 30px;
    margin:3% auto;

}

/* formatação "coloque um lobinho ..."*/
h2{
    font-size: 257%;
    font-weight: 600;
    line-height: 81px;
    text-align: center;
    margin-bottom: 10%;
    
}

/* gerando display flex para o form todo */
.display_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

/* gerando display flex só para a primeira linha, para conseguirem dividir espaço */
.display_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* gerando display flex para cada campo do form */
.quest1{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
 
}

/* gerando display flex exclusivo para o campo "nome do lobinho", por ser diferente */
.quest0{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}

/* gerando formatação para os inputs */
.input_format{
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6);
    border: 1px solid #333333;
    height: 2rem;
    font-size: 2rem;
    

}

/* gerando formatação para o input descricao, por ser maior */
.input_format_descricao{
    background: linear-gradient(0deg, #E6E6E6, #E6E6E6);
    border: 1px solid #333333;
    height: 298px;
    font-size: 2rem;

}

/* gerando formatação para botão */
main button{
    width: 209px;
    height: 60px;
    top: 944px;
    left: 595px;
    border: 1px solid #333333;
    background: linear-gradient(0deg, #2C5680, #2C5680);
    margin: 5% auto;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #FFFFFF;  
    cursor: pointer;

}

/* Fim Main */
/*--------------------------------------------------------------------------------- */

/*FOOTER*/

footer {
    background-color: #353535;
    padding: 1em ;
    padding-top: 3em;
    padding-bottom: 3em;
}


.box_footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

/*INFORMAÇÕES DA FOOTER*/
.info_footer {
    color: white;
    font-family: Darker Grotesque;
}


#iframe_contato {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

/* MAPA */
#iframe {
    width: 15em;
    height: 10em;
}

#desen_paws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

/*BOTÃO DE QUEM SOMOS */
#button_quem {
    background-color: #DEB959;
    font-size: 1.5em;
    color: #333333;
    font-weight:bolder;
    cursor: pointer;
    text-align: center;
    font-family: Darker Grotesque;
}

/*ESTILIZAÇÃO DO BOTÃO */
.button {
    text-decoration: none;
    color: black;
}

#placeholder {
    height: 20px;
    display: flex;
    align-self: center;
}

.icon_and_info {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    align-items: left;
}